/*list列表big_box*/
.big_box{
	width: 90%;
	margin: 20px auto 0;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	min-width: 1367.28px;
}

.big_box > .small_box{
	width: 20%;
	height: 300px;
	margin-top: 20px;
}

.big_box > .small_box > .small_box_top{
	height: 230px;
	overflow: hidden;
	text-align: center;
}

.big_box > .small_box > .small_box_top > a > img{
	width: 80%;
}

.big_box > .small_box > .small_box_bottom{
	width: 79.5%;
	height: 70px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

.big_box > .small_box > .small_box_bottom > p > img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}

.big_box > .small_box > .small_box_bottom > p > a{
	display: block;
	width: 140px;
	height: 40px;
	line-height: 17px;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 12px;
	color: #333;
}

.big_box > .small_box > .small_box_bottom > p.txt{
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #333;
}

.big_box > .small_box > .small_box_bottom > p.face{
	margin-left: 15px;
}

.big_box > .small_box > .small_box_bottom > p.face span{
	color: #ee6611;
}

#page{
	width: 90%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	margin: 20px auto 50px;
}

#page a{
	font-size: 16px;
	color: #333;
}